@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: #344155;
    --second: #98a2b3;
    --white: #fff;
    --text: #74788d;
    --shadow: #959da533 0 8px 24px;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --cards-gap: 1.3rem;
    --cards-count: 5;
    --card-width: calc(
      (100vw - (var(--cards-gap) * (var(--cards-count)))) / var(--cards-count)
    );
  }

  @font-face {
    font-family: "Cairo";
    src: url("/fonts/Cairo.ttf");
  }

  * {
    padding: 0;
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: "Cairo", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 4px;
    background: #ffffff;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 20px;
    background: #cdcdcd;
  }

  ::placeholder {
    font-size: 14px;
  }

  .custom_round {
    border-radius: 25px 25px 25px 90px;
  }

  .auth_page {
    background-image: url("/images/auth.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
